@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --meidium-light-blue: #5a7ffb;
    --blue-hover: #063ae9;
    --saturated-blue: #1a2540;
    --White: hsl(0, 0%, 100%);
    /* --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%); */
}

body{
    background: var(--saturated-blue);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.card {
    background: var(--meidium-light-blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    width: 384px;
    height: 611px;
}

.card h4{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--White);
}

.card p{
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}
.card small{
    color: var(--White);
    text-align: center;
    padding-top: 1rem;
}

.profile__avatar {
    border-radius: 50px;
    width: 88px;
    height: 88px;
    margin: 40px 70px;
}

.anchor__box{
    padding: 1.5rem 0;
} 

.btn {
    background-color: var(--saturated-blue);
    color: var(--White);
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover{
    background: #263762;
}

.btn__anchor-1 {
    font-family: "Inter", sans-serif;
    padding: 15px 7rem;
}

.btn__anchor-2 {
    position: relative;
    top: 1.5rem;
    padding: 15px 5rem;
}

.btn__anchor-3 {
    position: relative;
    top: 3rem;
    padding: 14px 6.7rem;
}

.btn__anchor-4 {
    position: relative;
    top: 3rem;
    padding: 14px 6.7rem;
}

.btn__anchor-5 {
    position: relative;
    top: 3rem;
    padding: 14px 7rem;
}

@media(max-width: 600px){
    @media(max-width: 768px){
    .card{
        height: 579px;
        width: 327px;
    }

    .card h4{
        font-size: 18px;
    }

    .card p{
        font-size: 12px;
    }
}
}
