@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --meidium-light-blue: #5a7ffb;
    --blue-hover: #063ae9;
    --saturated-blue: #1a2540;
    --White: hsl(0, 0%, 100%);
    /* --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%); */
}

body{
    background: var(--saturated-blue);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.card {
    background: var(--meidium-light-blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    width: 384px;
    height: 611px;
}

.card h4{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--White);
}

.card p{
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}
.card small{
    color: var(--White);
}

.profile__avatar {
    border-radius: 50px;
    width: 88px;
    height: 88px;
    margin: 40px 70px;
}

.btn {
    background-color: var(--saturated-blue);
    color: var(--White);
    text-decoration: none;
    
}
.btn__anchor-1 {
    padding: 15px 80px;
}

.btn__anchor-2 {
    margin: 5rem 0 0 0;
}

.btn__anchor-3 {

}

.btn__anchor-4 {

}

.btn__anchor-5 {

}

.btn__anchor-6 {
    margin: 25rem 0 0 0;
}
