* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --meidium-light-blue: #5a7ffb;
    --blue-hover: #063ae9;
    --saturated-blue: #1a2540;
    --White: hsl(0, 0%, 100%);
    /* --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%); */
}

body{
    background: var(--saturated-blue);
    font-size: 0.875rem;
    font-family: "Inter", sans-serif;
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.card {
    background: var(--meidium-light-blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    width: 384px;
    height: 611px;
}

.card h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--White);
}

.card p{
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}

.card, p:nth-child(2){
    color: var(--White);
    text-align: center;
    padding-top: 1rem;
}

.profile__avatar {
    display: block;
    border-radius: 50px;
    width: 88px;
    height: 88px;
    margin: 0 auto;
    object-fit: cover;
}

.anchor__box{
    list-style: none;
    padding: 1.5rem 0;
} 

.btn {
    background-color: var(--saturated-blue);
    color: var(--White);
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover{
    background: #263762;
}

.btn__anchor {
    display: block;
    padding: 15px 7rem;
    margin: 20px 0;
}

  @media(max-width: 768px) {
      .card {
          height: 579px;
          width: 327px;
      }

      .card h1 {
          font-size: 1.125rem;
      }

      .card p {
          font-size: 0.75rem;
      }
  }